 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;  
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #6050DC;  
    font-size: 2.5rem;
    text-align: center;
}

p {
    color: #1A3D5C;
    font-size: 1.2rem;
    font-weight: 400;
    width: 80%;
    text-align: center;
}

.para {
    color: #1A3D5C;
    font-size: 1.2rem;
    width: 80%;
    font-weight: 700;
}

.video {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    border: 3px solid #6050DC;  
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pvideo {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.maps {
    width: 100%;
    max-width: 1000px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;  
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.pmaps {
    width: 100%;
    max-width: 1000px;
    height: 450px;
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
}

/*table css*/
table {
      width: 80%;
      margin: 0 auto;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px; 
      overflow: hidden; 
    }

    th, td {
      padding: 12px 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #6050DC;
      color: #fff;
      font-size: 1.1em;
     
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    td {
      font-size: 1em;
    }

    caption {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 15px;
    }
